.container {
  display: flex;
  flex-direction: column;
  height: 33%;
}

.input {
  margin-top: 5px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;

  border: 1px solid #afafaf;
  color: #afafaf;
}

.label {
  color: #afafaf;
}
