.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 80vh;
  background-color: var(--color-white-dark);
  padding: 80px 160px;
}

.panel {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 60vh;
  margin-top: 8px;
}

.overPanel {
  display: flex;
  justify-content: space-between;
}
