.container {
  display: flex;
  flex-direction: column;
  height: 33%;
}

.input {
  margin-top: 5px;
  height: 40px;
  border: 1px solid #d50000;
  border-radius: 5px;
  padding-left: 10px;
}

.validation {
  color: #d50000;
  margin-left: 8px;
  font-size: 14px;
}
