.container {
  display: flex;
  flex-direction: column;
  height: 33%;
}

select:invalid {
  color: gray;
}

select {
  margin-top: 5px;
  height: 40px;
  width: 564px;
  border-radius: 5px;
  padding-left: 10px;
}

.validation {
  color: #d50000;
  margin-left: 8px;
  font-size: 14px;
}
