.validation {
  display: flex;
  color: #d50000;
  margin-bottom: 57px;
  margin-left: 8px;
  font-size: 14px;
}

select:invalid {
  color: gray;
}

select {
  margin-top: 5px;
  height: 40px;
  width: 564px;
  border-radius: 5px;
}
