.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-white-dark);
  padding: 80px 160px;
}

.panel {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  padding-top: 115px;
  max-height: 530px;

  div {
    display: flex;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  Button {
    margin: auto;
  }
}

.coins {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-right: 200px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-right: 120px;
}
